@rendermode InteractiveServer

<div class="InteractiveCarousel">
    <MudCarousel Class="mud-width-full" 
                 Style="height: 200px" 
                 ShowArrows="true" 
                 ShowBullets="true" 
                 EnableSwipeGesture="true"
                 TData="object"
                 AutoCycle="true">
        <MudCarouselItem Transition="Transition.Slide" Color="Color.Tertiary">
            <div class="banner">
                <img src="/img/Thrac_and_Vhosa_zoomed.jpg" alt="Thrac & Vhosa staring longingly eat each other" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="Color.Dark">
            <div class="banner">
                <img src="/img/After_Party.jpg" alt="The After Party - Tana's Masterpiece" />
            </div>
        </MudCarouselItem>
    </MudCarousel>
</div>
