@rendermode InteractiveServer

<div class="InteractiveCarousel">
    <MudCarousel Class="mud-width-full"
                 Style="height: 300px"
                 ShowArrows="true"
                 ShowBullets="true"
                 EnableSwipeGesture="true"
                 TData="object"
                 AutoCycle="true">
        @foreach (BannerImage banner in _banners)
        {
            <MudCarouselItem Transition="Transition.Slide" Color="@banner.Color">
                <button type="button" class="banner" @onclick="() => OpenFullsizeAsync(banner)">
                    <img src="@banner.Src" alt="@banner.Alt" />
                </button>
            </MudCarouselItem>
        }
    </MudCarousel>
</div>
