.InteractiveCarousel ::deep .banner {
    width: 100%;
    aspect-ratio: auto;
    height: 300px;
    overflow: hidden;
}

.InteractiveCarousel ::deep .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
