@page "/wiki"

@rendermode InteractiveServer

<div class="Page">
    <p>
        This is the wiki page. It will be used to display the content of the wiki, including articles, categories, and other related information.
    </p>
</div>
