@page "/"

@rendermode InteractiveServer

<PageTitle>OrdoWiki</PageTitle>

<SectionContent SectionName="page-header">
    <MudText Typo="Typo.h4">Clan Ordo</MudText>
</SectionContent>

<div class="Home">
    <MudPaper Class="pa-6" Elevation="2">
        <MudText Typo="Typo.body1" Class="mb-4">
            OrdoWiki — Connection to Postgres verified.
        </MudText>
        
        <div class="y-stack gap-4">
            @for (int i = 0; i < 25; i++)
            {
                <MudText Typo="Typo.body1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus arcu condimentum eros luctus, vel suscipit est dictum. Duis tristique semper pulvinar. Donec rutrum magna sit amet sollicitudin suscipit. Aliquam scelerisque interdum tempor. Ut augue turpis, tincidunt viverra justo sed, suscipit euismod lacus. Nam sit amet mi nec elit convallis varius. Praesent sit amet tortor ac tellus viverra tincidunt molestie sed odio. Donec nisi nisi, tincidunt ac ipsum eget, molestie venenatis sem.
                </MudText>
            }
        </div>
        
    </MudPaper>
</div>