@implements IDisposable
@inject PersistentComponentState ApplicationState

@if (!string.IsNullOrEmpty(DisplayMessage))
{
    string severity = DisplayMessage.StartsWith("Error", StringComparison.OrdinalIgnoreCase) ? "danger" : "success";
    <div class="alert alert-@severity" role="alert">
        @DisplayMessage
    </div>
}
