@page "/Account/Manage/RenamePasskey/{Id}"
@rendermode InteractiveServer

<PageTitle>Rename passkey</PageTitle>

<MudText Typo="Typo.h5" Class="mb-4">
    @(CurrentPasskey?.Name is { } name
        ? $"Rename \"{name}\""
        : "Name your passkey")
</MudText>

<StatusMessage/>

<form action="/Account/Manage/PasskeyRename" method="post">
    <AntiforgeryToken/>
    <input type="hidden" name="id" value="@Id"/>

    <MudTextField T="string"
                  @bind-Value="Name"
                  Label="Passkey name"
                  Variant="Variant.Outlined"
                  HelperText="Something memorable, like &quot;iPhone&quot; or &quot;Work laptop&quot;."
                  Class="mb-4"
                  UserAttributes="@(new Dictionary<string, object?> { ["name"] = "name" })"/>

    <MudButton ButtonType="ButtonType.Submit"
               Variant="Variant.Filled"
               Color="Color.Primary">
        Save
    </MudButton>
</form>
